.HistoryInquiries {
    background: #000000;
    padding: 50px 0 70px 0;
}

h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.allInquiries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    margin-right: 20px;
}
